!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %h1 Supermarket Art Fair
    %p
      This email confirms that Supermarket has received the application for 
      = " " + @application.space.name 
      for the fair in
      = @application.year.year.to_s + "."
      
      
    %p
      You will receive notification of our decision soon.
    
    %p
      If you have any questions, please contact info@supermarketartfair.com
      