!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p Dear applicant,  
    
    %p We are delighted to welcome you to SUPERMARKET 2019! 
    
    %p You have been accepted as Associate gallery.

      
    %p
      Your participation as an associate gallery is free of charge.
      %br/
      Please make sure that all information in your application on our website is correct and updated, including address and visiting address, contact details, logo and images, as we will use it for online presentation of your gallery.

  
    %p 
      Also, kindly remember to provide us with opening dates and hours of your exhibition by 11 February at alice@supermarketartfair.com.
      %br/
      The associate gallery night (public opening of associate galleries) is scheduled for Friday 5 April 18–22. Please inform us if you cannot follow this schedule.
      %br/
      You will find more information in the For Exhibitors section on our website.

    %p We are looking forward to collaborating with you!
    
    %p Warm Regards, 
    %p &nbsp;
    %p 
      The SUPERMARKET 2019 Project Team
      %br/
      Alice, Andreas, and Pontus