!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p Dear applicant,  
    
    %p We are delighted to welcome you to SUPERMARKET 2015! 
    
    %p Your application has been accepted and you will get a large stand (approx. 12-13 square meters, for example 3x4 or 2,5x5 m). The price for a large exhibition stand is SEK 5500 + VAT (SEK 6875*). The fee covers an exhibition space, service personnel, advertising, PR and the publication of the catalogue and website. 
    %p
      %em SEK 6875 ≈ € 747 ≈ $ 948
      
    %p
      IMPORTANT! Please make sure to 
      %strong confirm your participation before November 7th 
      by logging in to your online application and checking the “Agreement of terms and regulations” box. Read the rules and regulations carefully; the agreement is binding. We will then send you an invoice for the participation fee by email. Please make sure your invoice address, email address and VAT info is correct. Please inform us if you are waiting for funding approval and need more time to confirm your application.

    
    %p You can access the terms and condition via:
    
    %p= link_to terms_application_path(@application, :only_path => false),  terms_application_path(@application, :only_path => false)
    
    %p If you need a letter of invitation for funding applications or a visa invitation, please contact press@supermarketartfair.com
    
    %p If you have other questions, please contact info@supermarketartfair.com

 
    %p Kind Regards, 
    %p &nbsp;
    %p 
      The SUPERMARKET 2015 Project Committee
      %br/
      Izabella, Meggi, Andreas, Pontus