!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p Dear applicant,  
    
    %p We are delighted to welcome you to SUPERMARKET 2014! 
    
    %p Your application has been accepted and you will get a large stand (16-18 sqm). The price for a large exhibition stand is SEK 5500 + VAT (SEK 6875*). The fee covers an exhibition space, service personnel,  advertising, PR, mobile app and the publication of the catalogue and website. 
    %p
      %em *SEK 6875   ≈ € 750 ≈ $ 999  
      
    %p
      IMPORTANT! Please make sure to 
      %strong confirm your participation before November 1st 
      by logging into your online application and checking the “Agreement of terms and regulations” box. Read the rules and regulations carefully; the agreement is binding. We will then send you an invoice for the participation fee by email. Please make sure your invoice address, email address and VAT info is correct. 
    
    %p You can access the terms and regulations via:
    
    %p= link_to terms_application_path(@application, :only_path => false),  terms_application_path(@application, :only_path => false)
    
    %p You will gain access to your booth from Tuesday February 11 at 3 pm (with reservation for painting of the booths which may still be in progress).
    
    %p On Thursday February 13 we will hold a press viewing (time to be scheduled) and opening for invited guests (opening hours to be announced). 

    %p Opening hours from Friday February 14 – Sunday February 16 are to be announced as well. 
  
    %p The deadline for catalogue material is December 20th. We cannot guarantee any representation in the catalogue if the material is late. Please read the guidelines below.  We cannot say for certain which booth you will get, since there may be changes in the floor plan up until the final week. The walls are regular fair walls and 2,5 m high. We cannot provide you with technical equipment such as projectors, monitors etc, but we can recommend rental companies.   
    %p If you have any questions, please check first if you can find your answer in the FAQs section on our website; www.supermarketartfair.com. When you are logged in you can read a section called Exhibitors Information, about accommodation in Stockholm and other useful information.
 
    %p Kind Regards, 
    %p &nbsp;
    %p 
      SUPERMARKET 2014 Project Committee  
      %br/
      Contact: Izabella Borzecka, Project coordinator 
      %br/
      izabella@supermarketartfair.com  
      %br/    
    %fieldset{:style => 'width: 65%'}
      %label
        %strong Guidelines for catalogue/website material: 
      %p Ensure that the information about your gallery in your online application is complete, since this will be published on our website. The images uploaded in the ‘application’ shall be screen resolution, and are only for the web.
      %p Catalogue material:
      %p 1–4 catalogue images: maximum size 216X286 mm, resolution 300 ppi, RGB, highest quality jpeg. Very dark images will not look so good because the catalogue is printed on uncoated paper.
      %p
        Name the files: name of the applicant in one word_last name of the artist_number.jpg 
        %br/
        Example: galeriapeculiare_caravaggio_01.jpg 
      %p Don't forget to write image captions, in this format: artist, “title”, material, other info, year, photo (if other than the artist): photographer. 
      %p Example: Michelangelo Merisi Caravaggio, “Martyrdom of St. Lawrence”, oil on canvas, 183 x 131 cm, 1609, photo: Fabrizio Corona 
      %p Send the images and a list with image captions by email / Yousendit / Sprend to: johanna@supermarketartfair.com  
      %p You can also share a Dropbox folder.   
  