!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p Dear Applicant,
    %p Thank you very much for your application to Supermarket 2015. As usual, we have received a lot of quality applications and are forced to say no to many applicants. Due to our change of venue we have to reduce the number of exhibitors in 2016, which has made the competition even stronger.

    %p  However, we have put you on the reserve list for an exhibition stand at SUPERMARKET 2016.   This means that there is still a possibility that you will be offered an exhibition stand at Supermarket 2016, but only if approved applicants will for some reason cancel their participation. Obviously we will let you know immediately if this happens. We hope that we will be able to notify you by December, but even after that it is possible that you will be asked on short notice, due to possible cancellations.
 
    %p  The selection process has been based on the following criteria:
    %ul
      %li Artist-run spaces with a continuous exhibition programme have been prioritised before artists’ associations, artist groups, curatorial projects, and for-profit organisations. Applications from individual artists have not been selected as per Supermarket’s existing guidelines for applications.  
      %li Detailed exhibition proposals that also focus on an experience for visitors have been prioritised before documentary exhibition proposals. 
      %li The international dimension has been taken under consideration which means that some regular exhibitors from countries that are over-represented have been given lower priority this year.  

    %p If you plan to seek funding for your participation and need a preliminary letter of invitation, or a visa invitation, please contact press@supermarketartfair.com 
    %p For other questions, please contact info@supermarketartfair.com
    %p (Swedish applicants: we write to you in English as it saves us time to write only one version of the letter. We will of course answer any questions you may have in Swedish.) 
    %p
      Kind regards,  
    %p
      The SUPERMARKET 2016 Project Committee
      %br/
      Izabella, Meggi, Andreas, Pontus  

