!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p Dear Applicant,
    %p Thank you very much for your application to Supermarket 2018. As usual, we have received a lot of quality applications and are forced to say no to many applicants. 

    %p
      We are very sorry to inform you that your application has been rejected this year. 
 
    
    %p The selection process has been based on the following criteria:
    %ul
      %li Artist-run spaces with a continuous exhibition programme have been prioritised before artists’ associations, artist groups, curatorial projects, and for-profit organisations. Applications from individual artists have not been selected as per Supermarket’s existing guidelines for applications.  
      %li Detailed exhibition proposals that also focus on an experience for visitors have been prioritised before documentary exhibition proposals. 
      %li The international dimension has been taken under consideration which means that some regular exhibitors from countries that are over-represented have been given lower priority this year.  

    %p Please note that this rejection does not mean that you are not eligible to apply to future editions of Supermarket.   
    %p Thank you once again for your application. We wish your organisation good luck during the coming year and hope that we will meet you on other occasions. 
    
    %p For 2018 we will introduce a new networking programme where you can take part as a Professional Networking Participant (PNP) in Supermarket. PNPs don't exhibit but get invited to the Meetings Programme, Exhibitor gatherings, Exhibitor party, a special discussion seminar and have access to our new Exhibitor lounge. The participation fee is SEK 1250 including VAT, and the application should be made by an organisation, that can be represented by one person. If this programme is of any interest for you, please let us know and we can send you more information.  
    
    %p
      Kind regards,  
    %p
      The SUPERMARKET 2018 Project Committee
      %br/
      Alice, Pontus and Andreas

