!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p Dear applicant,  
    
    %p We are sorry to send this email to you again. We forgot to insert a link that gives you access to the terms and regulations. You find it below. 
    
    %p We are delighted to welcome you to SUPERMARKET 2015! 
    %p Your application has been accepted and you will get a small stand (approx. 6 square meters, for example 2x3 m). The price for a small exhibition stand is SEK 4000 + VAT (SEK 5000*). The fee covers an exhibition space, service personnel, advertising, PR and the publication of the catalogue and website.  
    %p
      %em *SEK 5000 ≈ € 545 ≈ $ 690
    %p
      IMPORTANT! Please make sure to 
      %strong confirm your participation ASAP
      by logging in to your online application and check the “Agreement of terms and regulations” box. Read the rules and regulations carefully; the agreement is binding. We will then send you an invoice for the participation fee by email. Please make sure your invoice address, email address and VAT info is correct. Please inform us if you are waiting for funding approval and need more time to confirm your application. 
          
    %p You can access the terms and condition via:
    
    %p= link_to terms_application_path(@application, :only_path => false),  terms_application_path(@application, :only_path => false)
    
    %p If you need a letter of invitation for funding applications or a visa invitation, please contact press@supermarketartfair.com
    
    %p If you have other questions, please contact info@supermarketartfair.com

 
    %p Kind Regards, 
    %p &nbsp;
    %p 
      The SUPERMARKET 2015 Project Committee
      %br/
      Izabella, Meggi, Andreas, Pontus