!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', :"http-equiv" => 'Content-Type'}
  %body
    %p Dear applicant,  
    
    
    %p We are delighted to welcome you to SUPERMARKET 2020! 
    %p Your application has been accepted and you will get a small stand (approx. 6 square meters, for example 2x3 m). 


    %p
      Please 
      %b confirm your participation as soon as possible
      by logging in to your online application (www.supermarketartfair.com/user) and check the “Agreement of terms and regulations” box. Read the rules and regulations carefully; the agreement is binding. We will send you an invoice for the participation fee by email in January. Please make sure your invoice address, email address and VAT info is correct. 
          
    %p You can access the terms and condition via:
    
    %p= link_to terms_application_path(@application, :only_path => false),  terms_application_path(@application, :only_path => false)
    %p Please inform us if you are waiting for funding approval and need more time to confirm your application! 
    %p If you need a letter of invitation for funding applications, visa invitation, or have other questions, please contact info@supermarketartfair.com om
    
    %p We are looking forward to hearing from you and meeting you soon in Stockholm!

 
    %p Kind Regards, 
    %p &nbsp;
    %p 
      The SUPERMARKET 2020 Selection Committee
      %br/
      Alice, Pontus, Andreas and Paulina
