-# unless organizations.nil?
-#  organizations = organizations.to_a.delete_if{|o| o.latitude.nil? || o.longitude.nil?}

#google-map

%script{:type => "text/javascript"}= render :partial => 'shared/mapjs.js', locals: {organizations: organizations}
