.cms_grid
  .attendees_list
    %p
      = link_to 'export as CSV', "/admin/attendees.csv?by_year=#{params[:by_year] ||= 1 }"

    %p
      Restrict by year:
      = select_tag :year_filter, options_from_collection_for_select(Year.order(:year).reverse, :id, :year, @year_scope), {:include_blank => true, :onchange => "document.location.href='/admin/attendees?by_year=' + $(this).val()"}
      
    %table.attendees
      %thead
        %th Name
        %th Email
        %th Code
        %th VIP?
        %th
      %tbody
        - @attendees.each do |attendee|
          %tr{class: cycle('odd', false)}[attendee]= render partial: 'attendee_row', locals: {attendee: attendee }
            
      