%h2 Professional Networking Participants (PNP)

%p
  This year we open up a new possibility to take part as a Professional Networking Participant (PNP). PNPs don't exhibit but get invited to the Meetings Programme, Exhibitor gatherings, Exhibitor party, a special discussion seminar and have access to our new Exhibitor lounge. The participation fee is SEK 1250 including VAT, and the application should be made by an organisation that can be represented by one person*.


%h2= link_to 'To the application!', '/pnp/new/2016'