.eight.columns.alpha
  %ul.footer_menu
    %li= link_to t(:disclaimer), page_path('disclaimer')
    %li= link_to t(:contact_us), page_path('contact')
    %li.last= link_to t(:subscribe_to_newsletter), page_path('subscribe-to-our-newsletter')
.two.columns &nbsp;
.six.columns.omega.footer_credits
  %strong Supermarket 2014
  %em Stockholm Independent art fair
  .small_text 14-16 February 2014, Kulturhuset, Stockholm