@import 'variables';

.carousel {
  .small {
    font-size: 9px;
  }
}


.quick  {
  margin-top: 50px;
  form {
    li {
      margin-left: 0px;
    }
    background-color: blue;
  }
}

.attendees_list {
  table.attendees {
    width: 100%;
    th {
      font-size: 1.5rem;
    }
    tr.odd {
      background-color: #FFEBCB;
      margin-bottom: 10px;
    }
    tr:hover {
      background-color: $orange4;
    }
    td {
      &.email {
        max-width: 150px;
        font-size: 0.8rem;
      }
      &.already_in {
        text-decoration: line-through;
      }
      padding: 8px 15px;
      font-size: 1rem;
      .small {
        float: right;
        padding-left: 5px;
        a.button {
          font-size: 0.6rem;
          border: 2px solid $orange3;
        }
      }
      a.button {
        text-transform: uppercase;
        padding: 5px;
        font-weight: 300;
        font-size: 0.9rem;
        border: 2px solid $orange1;
      }
    }
  }
}

table.checklist {
  border-collapse: collapse;
  td {
    border: 1px solid #555;
    padding: 5px;
    &.name {
      text-align: center;
    }
  }
}

form {
  input[type="submit"] {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.3rem;
    margin-left: 275px;
  }
}