/*
 *= require_self
 *= require layout
 *= require skeleton1200
 *= require supermarket2014/stylesheets/supermarket2014
 *= require supermarket2014/stylesheets/applications
 *= require supermarket2014/stylesheets/sidebar
 *= require supermarket2014/stylesheets/carousel
 *= require supermarket2014/stylesheets/footer
 *= require supermarket2014/stylesheets/exhibitors
 *= require supermarket2014/stylesheets/pages
 *= require supermarket2014/stylesheets/press
 *= require supermarket2014/stylesheets/mobile
 */



body {
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin: 0px;
}


#twitter-widget h1 {
  font-family: 'Oxygen', sans-serif !important;
}