@media only screen and (max-width: 767px) and (min-width: 480px) {
  header {
    .dates {
      margin-left: 2rem;
    }
    .top_bar_container {
      width: 100% !important;
    }
    nav.top_bar {
      margin: 2rem 0 0 0 !important;
      li {
        width: initial;
        padding-right: 0.5rem;
      }
      input#searchterm {
        width: initial !important;
      }
    }
  }
  .container {
    width: 100%;
    padding: 2rem;
    .sixteen.columns {
      width: 100%;
    }

    .social_icons {
      padding-top: 2rem;
      float: left;
      margin-left: 0 !important;
    }
    .dates_mobile {
      display: none;
    }
  }  
}
@media only screen and (max-width: 480px) {
  header .header_main nav.social_icons {
    clear: left;
    padding-top: 1rem;
    margin: 0;
  }

}

@media only screen and (max-width: 767px) {
  #menu_base {
    .container {
      padding: 0.5rem;
    }
  }

  #main {
    padding-bottom: 28rem;
  }
  header {
    padding-top: 0px;
    .dates {
      display: none;
    }
  }

  footer {
    padding: 1rem 0;
    max-height: 4rem;
    .container {

      .links1 {
        width: 100% !important;
      }
      .alpha { 
        display: none;
      }
      li {
        float: left;
        margin-right: 30px;
      }
    }
  }
  
  nav.top_bar {
    margin-bottom: 10px;
    float: left !important;
    li {
      width: 40px;
      margin-right: 5px;
      font-size: 10px !important;
    }
    input#searchterm {
      width: 60px !important;
    }
  }
//  nav.social_icons {
//    clear: left;
//    margin: 1rem 0;
//    ul {
//      li {
//        a {
//          img {
//            width: 16px;
//            height: 16px;
//          }
//        }
//      }
//    }
//  }
  

  

}

@media only screen and (min-width: 700px) {
  
  #front_carousel {
    margin: 2rem 0px 0px 0px;

    clear: left;
    .slide {
      .image {
        min-height: 420px;
      }
    }
  }
}
