@import 'variables';


.sign_up_blurb {
  margin-top: 25px;
  font-size: 14px;
  input[type=submit] {
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #f0f0f0;
    font-size: 16px !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px;
    -webkit-box-shadow: 0px;
    box-shadow: 0px;
    &:hover {
      cursor:pointer;
      background-color: $orange3;
    }
  }
}
.sidebar_box {
 
  margin-top: 25px;
  background-color: #f0f0f0;
  border: 2px solid $light-orange;
  padding: 10px;
  h2, h3, h5 {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .spaces {
    .space {
      .title {
        font: $small-link;
        font-weight: bold;
        margin-bottom: 0px;
      }
      .city {
        font: $small-link;
        font-weight: normal;
        font-style: italic;
        margin-top: 0px;
      }
      ul {
        margin-top: 15px;
        li.apply_2014 {
          a {
            font-weight: bold;
            text-transform: none;
            font-size: 16px;
          }
        }
      }
    }
  }
  .title {
    font: $small-heading;
    margin-bottom: 10px;
  }
  .subtitle {
    font: $small-link;
    color: #333;
    margin-top: 10px;
    font-style: italic;
  }
  .content {
    a {
      color: $orange1;
      font: $small-text;
      text-transform: none;
      
    }
    .big {
        a {
        font-size: 16px !important;
        font-weight: strong;
      }
    }
    .submitted_at {
      font: 10px/12px Helvetiva, Arial, sans-serif;
      color: #666;
    }    
  }
  ul {
    padding-left: 10px;
  }
  li {
    list-style-type: none;
    margin-bottom: 5px;
    .year {
      margin-top: 15px;
      font-weight: bold;
    }
    .submitted_at {
      font: 10px/12px Helvetiva, Arial, sans-serif;
      color: #666;
    }
    .view {
      a {
        font: $small-text;
        text-transform: uppercase;
      }
    }
  }
}

