@import 'variables';

a {
  text-decoration: none;
  color: $orange1;
  &:hover {
    color: $orange2;
  }
}

p {
  font: $body-text;
  
  &.front {
    font-size: 13px;
    line-height: 19px;
    color: #666;
    margin-top: 5px;
  }
}

.small_link a, span.small_link a {
  font-size: 11px;
}
.flash {
  float: left;
  background-color: red;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem;
  margin: 25px 0;
  width: 100%;
  text-align: center;
}

button {
  font-size: 15px;
  cursor: pointer;
}

#error_explanation {
  ul {
    li {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.terms {
  ul {
    margin-left: 125px;
    li {
      list-style-type: disc;
    }
  }
  li.boolean {
    margin-left: 125px;
    font-size: 14px;
    label {
      width: 100%;
    }
  }
  input[type=submit] {
    float: left;
    margin-left: 125px;
    clear: left;
  }
}
#main {

//    background: url('/assets/supermarket2014/images/BG_mindmap1.gif') repeat top left;
    background-color: #FEFEF5;
    padding-bottom: 35px;
    padding-top: 20px;
    &.funders {
      background-color: white;
    }
  }
header {
  background-color: $orange1;
  padding-top: 15px;
  a {
    img {
      float: left;
      margin-right: 70px;
    }
  }
  .dates, .dates_mobile {
    padding-top: 10px;
    float: left;
    color: $menu;
    
    p {
      margin: 0px 0px 3px 0px;
      font-size: 14px;
      font-weight: 300;
    }
  }
  .dates_mobile {
    display: none;
    p {
     font-size: 10px;
     line-height: 11px;
   }
 }
  nav.top_bar {
    float: right;
    margin-bottom: 20px;

    input#searchterm {
      width: 150px;
      padding-left: 8px;
      color: #EEE;
      background: url('/assets/supermarket2014/images/search_glass.png') no-repeat top right;
      background-color: $orange2;
    }
    
    ul {
      li {
        list-style-type: none;
        float: left;
        margin-right: 15px;
        font-size: 12px;
        &.big {
          text-transform: uppercase;
          font-weight: bold;
        }
        a {
          color: white;
          &:hover {
            color: #efefef;
          }
        }
      }
    }
    
    input {
      background-color: $orange2;
      margin-top: 0px;
      border: none;
      font-size: 12px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0px;
      -webkit-box-shadow: 0px;
      box-shadow: 0px;   
      &:focus {
        -webkit-focus-ring-color: auto 2px;
      }
    }
  }
  
  .header_main {
    margin-bottom: 25px;
  
    .header_logo {
      img {
        max-width: 100%;
        height: auto;
      }
      float: left;
    }
  
    nav.social_icons {
      float: right;
      img {
        max-width: 100%;
        height: auto; 
      }
      ul {
        display: block;
        margin:0px; padding: 0px;
        li {
          float: left;
          list-style-type: none;
          margin-right: 10px;
          width: 35px;
        }
      }
    }
  }  
}

.post_front {
  .post_image {
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
    img {
      max-width: 380px;
      height: auto;
    }
  }
  .title {
    a {
      font-weight:  bold;
    }
    margin-bottom: 0px;
  }
  .date {
    font-size: 10px;
    color: #444;
    font-style: italic;
  }
  .excerpt {
    margin: 0px 0px;
    p {
      margin: 0px;
    }
  }
  margin-bottom: 25px;
}

.front_three {
  h3 {
    padding-top: 20px;
  }
}

.video_front {
  img {
    max-width: 100%;
    height: auto;
  }
  .video_title {
    color: black;
  }
  .video_blurb {
    color: #666;
  }
  
}

.frontpage_exhibitors {
  float: left;
  padding: 10px 0px;
  border-top: 1px solid $orange3;
  border-bottom : 1px solid $orange3;
  margin-bottom: 10px;
  .blurb {
    font-size: 11px;
  }
  .title {
    font-size: 14px;
  }
  img {
//    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .hometown {
    margin-left: 0px;
  }
}
.front_blurb {
  padding-top: 15px;
}
#menu_base {
  background-color: $orange2;
}

.submenu_base_1 {
  background-color: $orange3;
//  height: 42px;
  overflow: hidden;
}

.submenu_base_2 {
  background-color: $orange4;
//  height: 42px;
  overflow: hidden;
}

.detail_view {
  .logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.search_hit {
  box-sizing: content-box;
  &.newline {
    clear: left;
  }
  &.even {
    background-color: #f0f0f0;
  }
  
  margin-bottom : 35px;
  padding: 0px;

    .application_image {
      width: 90px !important;
      padding: 2px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .title {
      padding: 3px;
      font-size: 14px;
    }
    .details {
      font-size: 11px;
    }
    
}

.press_releases {
  .press_release {
    margin-bottom: 25px;
    .image {
      img {
        max-width: 100%;
        height: auto; 
      }
    }
    .data {
      .title {
        font-weight: bold;
        font-size: 12px;
      }
      .date {
        font-style: italic;
        color: #666;
        font-size: 11px;
      }
    }
  }
}

.interested_in_2016 {
  font-size: 1.1rem;
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  background-color: $light-orange;
  color: white;
  padding: 0.8rem;
  a { 
    color: white; 
    &:hover {
      color: red;
    }
  }
  
}


.horiz_menu {


  padding: 12px 0px 8px 0px;

  
  nav.page_menu, nav.page_submenu  {
    display: inline-flex;
    select {
      display: none;
    }
    ul {
      margin:0;
      padding: 0;
 
      li {
        margin-left: 0px;
        font-size: 0.85rem;
        float: left;
        list-style-type: none;
        padding: 4px 15px;
        border-left: 1px solid $menu;

        &.first {
          padding-left: 0px !important;
        }
        a {
          font-size: 0.85rem;
          color: $menu;
          &:hover {
            color: $hover;
          }
        }
        &.active {
          color: #FFF;
          a {
            color: #FFF;
          }
        }
        &.first {
          border-left: none;
        }
      }
    }    
  }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
  a.tl2 {
    margin-left: -6px;
  }
  header {
    .header_logo {
      a {
        img {
          margin-right: 2em;
        }
      }
    }
  }

}
@media only screen and (min-width: 768px) {
  .horiz_menu {
    nav.page_menu, nav.page_submenu {
      ul {
        display: inline;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  header {
    padding-top: 10px !important;
    .header_logo { 
      width: 108px !important;
    }
    
    .dates {
      display: none !important;
    }
    .dates_mobile {
      display: block;
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  
  #menu_base {
    margin-top: 10px;
  }
  .submenu_base_1, .submenu_base_2, .submenu_base_3 {
    display: none;
  }
  nav.top_bar {
    margin-bottom: 6px;
  }
  .top_bar_container {
    width: 16em !important;
    ul {
      padding: 0px 0px 0px 5px !important;
      margin: 0px !important;
      li {
         margin-right: 3px !important;
         
      }
    }
  }
  nav.social_icons {
    float: left !important;
    margin-left: 20px;

    ul {

      li {
        width: 15px !important;
       
      }
    }
  }
  .horiz_menu {
    nav.page_menu, nav.page_submenu {
      select {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }  
  #front_carousel .slide .image {
    min-height: 100px;
    width: 100%;
  }
  .above_carousel {
    padding: 1rem;
    max-width: 95%;
  }

  
}


@media only screen and (min-width: 481px) and (max-width: 767px) {
  header {
    padding-top: 10px !important;
    .header_logo { 
      width: 108px !important;
    }
    
    .dates {
      display: none;
    }
    .dates_mobile {
      display: block;
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  
  #menu_base {
    margin-top: 10px;
  }
  .submenu_base_1, .submenu_base_2, .submenu_base_3 {
    display: none;
  }
  nav.top_bar {
    margin-bottom: 6px;
  }
  .top_bar_container {
    width: 16em !important;
    ul {
      padding: 0px 0px 0px 5px !important;
      margin: 0px !important;
      li {
         margin-right: 10px !important;
      }
    }
  }
  nav.social_icons {
    float: left !important;
    margin-left: 20px;
    width: 16em !important;
    ul {

      li {
        width: 15px !important;
       
      }
    }
  }
  .horiz_menu {
    nav.page_menu, nav.page_submenu {
      select {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }
}

.funder_type {
  clear: both;
  margin-bottom: 0px;

  .funder {
    padding: 7px;
    margin-bottom: 10px;

    min-height: 110px;

    img {
      max-width: 120px;
      height: auto;
    }
  }
  .title {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 35px;
    margin-bottom: 10px;
  }
  .name {
    font-size: 12px;
    color: $orange1;
  }
}



ul.existing_accounts {
  i {
    color: $grey;
  }
}
.index_heading {
  margin-bottom: 35px;
}

.share_this {
  margin-top: 25px;
}
.post {
  .post_slides {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &.index {
    margin-bottom: 25px;
    border-bottom: 1px dotted $orange2;
    padding-bottom: 20px;
  }
  h3 {
    a {
      color: #666;
    }
    font-size: 18px;
    margin-bottom: 5px;
  }
  .metadata {
    font-size: 11px;

    color: #999;
  }
  .slide {
    .caption {
      font-size: 13px;
      color: #222;
    }
    .credit {
      font-size: 11px;
      font-style: italic;
      color: #999;
    }
  }
  .body {
    h1 { font-size: 16px;
    }
    h2 {
      font-size: 15px;
    }
    h3 {
      font-size: 14px;
    }
  }
}
.page {
  .post_image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}


.pagination {
  height: 28px;
  margin: 14px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 10px;
  line-height: 26px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-right-width: 0;
}

.pagination .last a {
  border-right-width: 1px;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}

.pagination .current, .pagination .gap{
  float: left;
  padding: 0 10px;
  line-height: 26px;
  color: #999999;
  cursor: default;
  text-decoration: none;
  border: 1px solid #ddd;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 20px;
}
 
iframe.twitter-timeline {
  margin-top: 20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#twitter-widget-0 {
  .timeline-header {
    padding: 0px !important;
  }
}

p.registration_error {
  font-size: 1.2rem;
  color: red;
}

fieldset.pnp {
  margin-top: 3rem;
  
  legend {
    font-size: 0.9rem;
    margin-left: 80px;
    font-weight: 400;
  }
  li {
    margin-left: 0.4rem;
    clear: none;
  }
  
}

.pnp_submit {
  fieldset.actions {
    margin-left: 225px;
    clear: both;
  }
}

.pnps {
  padding-left: 0.53rem;
  padding-right: 0.53rem;
}

.history {
//  background: url(https://aim-production.s3.amazonaws.com/carousel/image/41/OHYRAjoakim.jpg) no-repeat center center;
//  background-size: cover;
//  min-height: 400px;
  .blurb {
    background-color: white;
    padding: 4px 0;
    text-align: center;
//    margin-top: 350px;
  }
  margin: 10px 0;
//  border-top: 1px solid $orange3;
}


.instagram {
  img {
    max-width: 600px;
    height: auto;
  }
}
