@import 'variables';

a {
  text-decoration: none;
  color: $orange1;
  &:hover {
    color: $orange2;
  }
}

p {
  font: $body-text;
  
  &.front {
    font-size: 13px;
    line-height: 19px;
    color: #666;
    margin-top: 5px;
  }
}

.small_link a, span.small_link a {
  font-size: 11px;
}
.flash {
  float: left;
  padding-top: 20px;
}

button {
  font-size: 15px;
  cursor: pointer;
}

#error_explanation {
  ul {
    li {
      font-size: 16px;
      font-weight: bold;
    }
    
  }
}

#main {
//    background: url('/assets/supermarket2014/images/BG_mindmap1.gif') repeat top left;
    padding-bottom: 35px;
    padding-top: 20px;
  }
header {
  background-color: $orange1;
  padding-top: 15px;
  .dates {
    
    color: white;
    font-size: 12px;
  }
  nav.top_bar {
    float: right;
    margin-bottom: 20px;

    input#searchterm {
      width: 150px;
      padding-left: 8px;
      color: #999;
      background: url('/assets/supermarket2014/images/search_glass.png') no-repeat top right;
      background-color: $orange2;
    }
    
    ul {
      li {
        list-style-type: none;
        float: left;
        margin-right: 15px;
        font-size: 12px;
        a {
          color: white;
        }
      }
    }
    
    input {
      background-color: $orange2;
      margin-top: 0px;
      border: none;
      font-size: 12px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0px;
      -webkit-box-shadow: 0px;
      box-shadow: 0px;   
      &:focus {
        -webkit-focus-ring-color: auto 2px;
      }
    }
  }
  
  .header_main {
    margin-bottom: 25px;
  
    .header_logo {
      img {
        max-width: 100%;
        height: auto;
      }
      float: left;
    }
  
    nav.social_icons {
      float: right;
      img {
        max-width: 100%;
        height: auto; 
      }
      ul {
        display: block;
        margin:0px; padding: 0px;
        li {
          float: left;
          list-style-type: none;
          margin-right: 10px;
        }
      }
    }
  }  
}

.front_blurb {
  padding-top: 15px;
}
#menu_base {
  background-color: $orange2;
}

.submenu_base_1 {
  background-color: $orange3;
  height: 42px;
  overflow: hidden;
}

.submenu_base_2 {
  background-color: $orange4;
  height: 42px;
  overflow: hidden;
}

.detail_view {
  .logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.search_hit {
  box-sizing: content-box;
  &.newline {
    clear: left;
  }
  &.even {
    background-color: #f0f0f0;
  }
  
  margin-bottom : 35px;
  padding: 0px;

    .application_image {
      width: 90px !important;
      padding: 2px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .title {
      padding: 3px;
      font-size: 14px;
    }
    .details {
      font-size: 11px;
    }
    
}

.press_releases {
  .press_release {
    margin-bottom: 25px;
    .image {
      img {
        max-width: 100%;
        height: auto; 
      }
    }
    .data {
      .title {
        font-weight: bold;
        font-size: 12px;
      }
      .date {
        font-style: italic;
        color: #666;
        font-size: 11px;
      }
    }
  }
}

.horiz_menu {


  padding: 12px 0px;

  
  nav.page_menu, nav.page_submenu  {
    select {
      display: none;
    }
    ul {

 
      li {
        margin-left: 0px;
        font-size: 16px;
        float: left;
        list-style-type: none;
        padding: 0px 15px 0px 15px;
        border-left: 1px solid $gray;
        &.first {
          padding-left: 0px !important;
        }
        a {
          font-size: 14px;
          color: $gray;
          &:hover {
            color: #333;
          }
        }
        &.active {
          color: #333;
          a {
            color: #000;
          }
        }
        &.first {
          border-left: none;
        }
      }
    }    
  }
}

@media only screen and (min-width: 768px) {
  .horiz_menu {
    nav.page_menu, nav.page_submenu {
      ul {
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .horiz_menu {
    nav.page_menu, nav.page_submenu {
      select {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }
}

.funder_type {
  clear: both;
  margin-bottom: 0px;

  .funder {
    padding: 7px;
    margin-bottom: 10px;

    min-height: 110px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .title {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  .name {
    font-size: 12px;
    color: $orange1;
  }
}



ul.existing_accounts {
  i {
    color: $grey;
  }
}

.page {
  .post_image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}