$orange1: #fda700;
$orange2: #fec351;
$orange3: #fed37e;
$light-orange: #fee6b5;

$gray: #999966;
$grey: #999966;

$large-heading: normal bold 22px/28px Helvetica, Arial, sans-serif;
$small-heading: normal bold 18px/22px Helvetica, Arial, sans-serif;
$small-link: normal bold 14px/18px Helvetica, Arial, sans-serif;

$small-caption: normal normal 10px/12px Helvetiva, Arial, sans-serif;
$body-text: normal normal 12px/16px Helvetica , Arial, sans-serif;
$small-text: normal normal 11px/14px Helvetiva, Arial, sans-serif;