$orange1: #8c8c8c;
$orange2: #b2b2b2;
$orange3: #d6d6d6;
$orange4: #e4e4e4;
$localyellow: #fff;
$background: #fcf2ec;
$light-orange: rgb(248,232,218);
//  version 2
// $orange1: #708f92;
// $orange2: #8da8aa;
// $orange3: #a0b8b9;
// $orange4: #afc4c5;

//  original
// $orange1: #b4b4b4;
// $orange2: #e1d100;
// $orange3: #ffec00;
// $light-orange: #fff88e;

$gray: #FFF;
$grey: #FFF;

$header_gray1: #a2a2a2;
$header_gray2: #bababa;
$header_gray3: #c5c5c5;
$header_gray4: #d1d1d1;

$large-heading: normal bold 20px/24px 'Oxygen', sans-serif;
$small-heading: normal bold 16px/20px 'Oxygen', sans-serif;
$small-link: normal bold 13px/16px 'Oxygen', sans-serif;

$small-caption: normal normal 10px/12px 'Oxygen', sans-serif;
$body-text: normal normal 13px/17px 'Oxygen', sans-serif;
$small-text: normal normal 11px/14px 'Oxygen', sans-serif;

$menu: #333;
$hover: #673822;