$orange1: #EB491D;
$orange2: #FF6831;
$orange3: #FE864B;
$light-orange: #FE9D68;
$orange4: #FE9D68;
$gray: #FFF;
$grey: #FFF;

$large-heading: normal bold 20px/24px 'Oxygen', sans-serif;
$small-heading: normal bold 16px/20px 'Oxygen', sans-serif;
$small-link: normal bold 13px/16px 'Oxygen', sans-serif;

$small-caption: normal normal 10px/12px 'Oxygen', sans-serif;
$body-text: normal normal 13px/17px 'Oxygen', sans-serif;
$small-text: normal normal 11px/14px 'Oxygen', sans-serif;

$menu: #673822;
$hover: #FFF;