<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
<p>We have registered your RSVP!</p>

<p>Your Name: <%= @attendee.first_name %> <%= @attendee.last_name %></p>
	
<p>You are welcome to attend the Professional Preview of Supermarket 2019.
11 April 2019, 19:00–24:00. Kylhuset, Fållan 10, Slakthusområdet (Metro Globen), Stockholm</p>

<p>If you did not receive an admission-free invitation card, the admission is 100 SEK.</p>
 
<p>Your reservation number: <%= @attendee.id.to_s %></p>


<p>Du är välkommen på förhandsvisning av Supermarket 2019.
  <br />
11 April 2019, 19:00–24:00. Kylhuset, Fållan 10, Slakthusområdet (Metro Globen), Stockholm<br /><br />
Om du inte redan mottagit en inbjudan som ger fritt inträde är inträdet 100 kr.

</p>

</body>
</html>
