%h2= @space.business_name

%p
  Exhibited years:
  %ul
    - @space.applications.delete_if{|x| !x.approved? }.each do |app|
      = link_to app.year.year, exhibitor_year_path(:space => @space, :year => app.year.year)