/**
 *= require_self
 *= require jquery.ui.tabs

*/

$orange1: #fda700;
$orange2: #fec351;
$orange3: #fed37e;
$light-orange: #fee6b5;

$gray: #999966;
$grey: #999966;

.pagination {
  float: left;
  clear: left;
  margin: 10px 0px;
}
.pagination a, .pagination span.current, .pagination span.gap {
	float: left;
	padding: 0 14px;
	line-height: 38px;
	text-decoration: none;
	background-color: white;
	border: 1px solid #DDD;
	border-left-width: 0;
}

.pagination {
	border-left: 1px solid #ddd;
	.first{
		padding : 0;
		float: none;
		border: none;
	}
	.prev {
		padding : 0;
		float: none;
		border: none;
	}
	.page{
		padding : 0;
		float: none;
		border: none;
	}
	.next{
		padding : 0;
		float: none;
		border: none;
	}
	.last{
		padding : 0;
		float: none;
		border: none;
	}
}

ul.staff_menu {
  padding-left: 0px;
  li {
    border: 1px solid $light-orange;
    padding: 5px;
    list-style-type: none;
    i {
      color: #444;
      margin-right: 3px;
    }
    &:hover {
     i {
        color: #999;
      }
    }
  }
}

.cms_grid {
  .heading {
    font-weight: 600;
    
  }
  .page, .post, .app, .user, .il, .background {
    padding: 5px 0px;
    &:hover{
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }
  
  .menu_item {
    border: 2px dotted $light-orange;
    padding: 5px;
    margin: 10px 0px;
    p {
      margin: 2px 0px;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
    }
  }
  
  .submenu_item {
    float: left;
    border: 1px solid $light-orange;
    padding: 3px;
    margin-right: 3px;
    p {
      margin: 2px 0px;
    }
  }
}
.clear {
  clear: left;
}

.sidebar {
  input[type=text] {
    width: 100px;
  }
}
.search_hit {
  padding: 20px 0px;
  
}

