/*
 *= require aim/stylesheets/form
 *= require chosen
 */
$box0: #DC8278;
$box1: #B2DECE;
$box2: #F4C359;
$box3: #F7B3C0;
$box4: #BEA7CF;
$box5: #C5DCF1;
$backdrop: #F5FBF1;
$helv: "Helvetica", "Verdana", "Arial", sans-serif;


.pagination {
  clear: left;
}

.deny_form {
  display: none;
  #spacecomment_comment_input {
    label {
      width: 100px;
    }
  }
}

#space_comments {
  margin-bottom: 30px;
  .space_comment {
    padding: 20px 0px;
    border-bottom: 1px solid $box3;
    p {
      margin: 2px 0px;
    }
  }
}
.cms_grid  {
  
  .space {
    padding: 10px 0px;
    border-bottom: 1px dotted lightblue;
    img {
      max-width: 100%;
      height: auto;
      
    }
    .title {
      font-family: Open Sans, Helvetica, sans-serif;
      font-size: 14px;
    }
    .location {
      font-family: Open Sans, Helvetivac, sans-serif;
      font-weight: 300;
      font-size: 11px;
    }
    .actions {
      a {
        padding: 4px;
        color: red;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        &:hover {
         color: #ffaaaa; 
        }
      }
    }
  }
}

.tabs {
  dd {
    border: 1px solid #999;
  }
}
.tabs-content {
  .content {
    padding: 5px 20px 0px 20px;
    border: 1px solid #999;
    .jqte {
      width: 55em;
    }
    .jqte_editor, .jqte_source {
      min-height: 350px;
    }
    .rich_text {
      height: 400px;
    }
  }
}