
.pagination {
  clear: left;
}
.cms_grid  {
  
  .space {
    padding: 10px 0px;
    border-bottom: 1px dotted lightblue;
    img {
      max-width: 100%;
      height: auto;
      
    }
    .title {
      font-family: Open Sans, Helvetica, sans-serif;
      font-size: 14px;
    }
    .location {
      font-family: Open Sans, Helvetivac, sans-serif;
      font-weight: 300;
      font-size: 11px;
    }
    .actions {
      a {
        padding: 4px;
        color: red;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        &:hover {
         color: #ffaaaa; 
        }
      }
    }
  }
}