$box0: #DC8278;
$box1: #B2DECE;
$box2: #F4C359;
$box3: #F7B3C0;
$box4: #BEA7CF;
$box5: #C5DCF1;
$backdrop: #F5FBF1;
$helv: "Helvetica", "Verdana", "Arial", sans-serif;

* {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #444;
}


.flash {
  background-color: red;
  color: white;
  opacity: 0.8;
}

.login_stuff {
  font-size: 0.8rem;
  .meta {
    margin-top: 10px;
  }
  form {
    margin: 0px;

  }
  .right {
    margin-left: 15px;
  }
  .sidebar_image {
    clear: both;
    float: right;
    margin-bottom: 5px;
  }
  button {
    border-radius: 1rem;
    font-size: 0.7rem;
    height: 2rem;
    padding: 0.6rem;
    margin-bottom: 5px;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $helv;

}

h4.matchcount {
  width: 80%;
  .small {
    font-size: 0.5em;  
  }
}

span.small_paginator {
  text-transform: uppercase;
  color: #999;
  font-size: 10pt;
}
span.address-form, .address-form  {
  display: inline-block;
  margin: 10px 5px 0 0;
  white-space: nowrap;
  select, input[type=text] {
    margin-bottom: 0;
  }
  input[type=checkbox] {
    margin-left: 20px;
  }
  input[type=text] {
    clear: left;
  }
}

.address-form {
  margin-left: 20px;
}

label.sub {
  font-size: 0.786em;
  margin-top: 3px;
  color: #999;
}



.browse_box:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.browse_box {
  &.box0 {
     background-color: $box0; 
  }
  &.box1 { 
    background-color: $box1;
   }
  &.box2 { 
    background-color: $box2; 
  }
  &.box3 {
     background-color: $box3;
  }
  &.box4 {
     background-color: $box4; 
  }        
  &.box5 { 
    background-color: $box5; 
  }

  margin-bottom: 0.9375rem;
  
  .content {
    width: 90%;
    height: 90%;
    font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 16.666667%;
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;

    padding: 7px 7px 0px 22px;
    float: left;
    overflow: hidden;
    color: #444;
    cursor:pointer;
    
    .space_description {
      overflow: hidden;
      margin-top: 5px;
      p {
        margin: 0px;
      }
    }

    .box_weblink {
      font-size: 10px;
    }
    .space_name {
      font-family: $helv;
      font-size: 1.2em;
      line-height: 1.3em;
      font-weight: bold;
      color: #ffffff;
      &.long {
        font-size: 1.0em;
      }
    }
    .space_town {
      margin: 5px 0px;
      color: black;
      font-size: 0.85em;
      font-style: italic;
    }
    .space_metadata {
      margin: 5px 0px;
      a { color: #666; }
      color: #666;
      font-size: 0.85em;
    }
    .space_description {
      font-size: 0.9em;
    }
    
  }
}

.logo {
  width: 300px;
  float: left;
  margin-right: 20px;
}

.address {
  width: 140px;
  float: left;
}

input.shadow {
  -moz-box-shadow:    0px 2px 2px 0px #000;
  -webkit-box-shadow: 2px 2px 2px 0px #000;
  box-shadow:         2px 2px 2px 0px #000;
  margin-right: 5px;
}

.search {
  #menu {
    select {

      overflow:hidden;
      height: 24px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-size: 0.8em;
      padding: 2px 2px 2px 5px;
      height: 25px;

      -moz-border-radius: 3px;
      option {
          background-color: black;
          color: white;
          overflow:hidden;
          width: 120%;
      }
    }
  }
  
  .filter_toggle {
    a {
      color: #000;
      font-weight: bold;
    }
  }
  
  .search_title {
    font-size: 12pt;
    font-family: $helv;
    color: #999999;
    text-transform: uppercase;
  }
  .quotes {
    font-family: $helv;
    font-size: 24pt;
    color: #000000;
    font-weight: bold;
  }
  input[type=text] {
    height: 30px;
    padding: 2px;
    float: left;
    font-size: 1.2em;
  }
  input[type=submit] {
    float: left;
    background: url("/assets/aim/images/aim_icons.png") no-repeat 0px -51px;
    width: 48px;
    height: 48px;
    border: none;
  }
}

#initiative_filter {
  margin-bottom: 10px;
  li {
    padding: 4px 0px;
    font-size: 0.85em;
    list-style-type: none;
    &.activated {
      font-weight: bold;
      color: #333;
    }
    a {
      color: #666;
    }
  }
}

.aim_profile {
  min-height: 640px;
  .space {

    .title_and_web {
      height: 36px;
      margin-bottom: 35px;
      .space_title {
        float: left;
        font-family: $helv;
        font-weight: bold;
        font-size: 3.0em;
        &.long {
          font-size: 2.0em;
        }
        color: #000000;
      }
      .space_websites {
        margin: 5px 0px;
        float: left;
        clear: left;
        .admin_stuff {
          a {
            color: red;
            font-size: 8pt;
            font-weight: bold;
  
          }
        }
      }
      .space_web {
        float: left;
        padding: 3px;
        margin-right: 10px;
        font-family: $helv;
        font-size: 12pt;
        color: #000;
        font-weight: bold;
      }
    }
    .section_heading {
      font-family: $helv;
      font-size: 12pt;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
    }
  
    .business_type {
    
      clear: left;
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      font-size: 14px;
      font-weight: 300;
      padding: 5px 0px;
      color: #999;
      font-family: $helv;
      margin: 18px 0 18px 0;
    }
    .section_content {
      font-family: $helv;
      p {
        font-size: 0.96em;
      }
      font-size: 0.96em;
      color: #333;
      ul {
        padding-left: 20px;
        list-style-type: disc;
        li {
          font-family: $helv;
          color: #333;
          font-size: 12pt;
        }
      }
    }
    .address {
      float: left;
    }
  
  }
}

.page_title {
  font-size: 14pt;
  font-weight: bold;
  font-family: $helv;
  margin-bottom: 10px;
}
.support {
  text-align: center;
}

.support img {
  padding: 10px;
}
.button_to {
  float: left;
  margin-right: 30px;
}
.subtitle {
  margin-bottom: 25px;
  font-size: 1.4em;
}

.redbar {
  height: 10px;
  background-color: $box0;
  margin-bottom: 20px;
}
.filter_info {
  margin-bottom: 25px;
  .search_title {
    float: left;
    margin-right: 5px;
    padding-top: 4px;
  }
  
  .search_toggle {
    padding-top: 2px;
    a.selected {
      margin: 3px 3px 0px 0px;
      float: left;
      font-size: 0.8em;
      padding: 2px 20px 2px 4px;
      background-color: #fbfbfb;
      border: 1px solid #666;
      background: url('../images/icon_smallX.png') no-repeat top right #f3f3f3;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
    }
  }
  
  .quotes {
    font-size: 1.3em;
    color: #666;
  }
  .filter_toggle {
    margin: 5px 0px 10px 0px;
    
    padding: 3px;
    font-size: 13px;
    float: left;
  }
}
.header {
  margin: 36px 0 36px 0;
  height: 100%;
  font-family: $helv;
  
  .subtitle {
    font-family: $helv;
    font-weight: bold;
    font-size: 21pt;
  }
  .languages {
    float: right;
    font-family: $helv;
    font-size: 10pt;
    color: #000000;
    text-transform: uppercase;
  }
  .login_stuff {
    clear: both;
    float: right;
    font-family: $helv;
    font-size: 8pt;
  }
}

.filter_container {
  float: left;
  border-left: 1px dotted #000000;
  border-right: 1px dotted #000000;
  margin-top : -540px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
  z-index: 1000;
  opacity: 0.9;
}
.filter_column {
  overflow: hidden;
  float: left;
  padding: 0px 5px 0px 5px;
  .title {
    font-family: $helv;
    font-size: 0.95em;
    font-weight: bold;
  }
  ul {
    list-style: none outside;
    padding-left: 0px;
    li {
      font-size: 0.85em;
      &.activated {
        background-color: #333;
        color: #FFE;
        a {
          color: #FFE;
        }
      }
      a {
        text-decoration: none;
        color: #333;
      }
      line-height: 1.1em;
      font-size: 0.8em;
      margin-bottom: 0;
      font-family: $helv;
      font-weight: normal;
      color: #333;
      
    }
  }

  &.last {
    border-left: 1px dotted black;
  }
}

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  &.small {
    width: 75%;
  }
}

#browse_map {
  width: 820px;
  height: 320px;
}

label.error {
  color: red;
}

.map_small {
  width: 300px;
  height: 250px;
  float: right;
}

.profile_image {
  float: left;
  margin-right: 50px;
}

.browse {
  
  .space_description {
    margin-top: 5px;
  }
  .space {
    margin-left: 0px;
    clear: right;
    border-bottom: 1px dotted #cdbdcd;

    &:hover {
      background-color: #efefef;
    };
    .space_name {
      font-size: 13pt;
    }
    
    .space_other {
      clear: both;
      p {
        margin-bottom: 5px;
      }
      .space_address {
        float: left;
      }
      .space_link {
      }
    }
    .space_description {
       float: left;
    }
    .space_logo {
      float: left;
    }
    .space_images {
      float: left;
    }
  }
}
.slide {
  float: left;
  margin-right: 5px;
}
footer {
  margin-top: 20px;
  padding-top: 40px;
  background-color: #fbfbfb;
  border-top: 1px dotted black;
  a {
    text-decoration: none;

  }
}


